* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #000000, #434343);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  line-height: 1.6;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

h2 {
    font-family: 'Audiowide', sans-serif;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 100;
}

h4 {
    font-family: 'Rajdhani', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section {
  margin-bottom: 10%;
}

.background-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backgrounds/particles.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
}

@media (max-width: 600px) {
  .section {
    padding: 0.8rem;
    width: 100vw;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 100;
  }

  h4 {
    font-size: 0.75rem;
    font-weight: 100;
  }

  p {
    font-size: 0.875rem; 
  }

  .background-svg {
    background-size: 100%;
    top: 80px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .section {
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  h4 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.3rem; 
    font-weight: 100;
  }

  .background-svg {
    background-size: 100%;
    top: 120px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .section {
    padding-left: 7vh;
    padding-right: 7vh;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 100;
  }

  h4 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 100;
  }

  .background-svg {
    background-size: 60%;
    top: 150px;
  }
}

@media (min-width: 1201px) {
  .section {
    padding: 2rem;
    max-width: 1300px;
  }

  h1 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.25rem; /* Ajusta el tamaño del texto del párrafo para pantallas muy grandes */
  }

  .background-svg {
    background-size: 40%;
    top: 150px;
  }
}
